 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #0d1633, #121a3f);
  color: white;
  overflow-x: hidden;
}

/* ================= NAVBAR ================= */
/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  position: fixed;
  width: 100%;
  top: 0;
  background: transparent;
  z-index: 1000;
} */

.logo {
  font-size: 22px;
  font-weight: 600;
  color: #f7c948;
}


nav {
  position: absolute;
   /* top: 70px;  */
  right: 0;
  display: flex;
  padding-right: 80px;
}
nav a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
  transition: 0.3s;
}

nav a:hover {
  color: #f7c948;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* ================= HERO ================= */
 .hero {
  min-height: 100vh;
   padding-top: 120px; 
  text-align: center;
  position: relative;
} 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  position: fixed;
  width: 100%;
  top: 0;
  background: #0d1633;
  z-index: 1000;
  height: 80px;
}
.moon {
  width: 120px;
  height: 120px;
  background: #f7c948;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0 0 40px #f7c948;
  position: relative;
}

.moon::after {
  content: "";
  width: 110px;
  height: 110px;
  background: #0d1633;
  border-radius: 50%;
  position: absolute;
  left: 35px;
}

.subtitle {
  margin-top: 30px;
  letter-spacing: 4px;
  color: #f7c948;
}

.arabic {
  font-size: 60px;
  margin: 10px 0;
}

.english {
  font-size: 36px;
  margin-bottom: 15px;
}

.description {
  max-width: 600px;
  margin: auto;
  opacity: 0.8;
}

/* Countdown */
.countdown {
  margin-top: 50px;
}

.count-title {
  color: #f7c948;
  margin-bottom: 20px;
}

.time-box {
  display: flex;
  justify-content: center;
  gap: 40px;
  background: rgba(255,255,255,0.05);
  padding: 25px;
  border-radius: 15px;
  max-width: 800px;
  margin: auto;
}

.time-box h3 {
  font-size: 32px;
}

.time-box span {
  font-size: 12px;
  opacity: 0.7;
}

.active {
  color: #f7c948;
}

/* ================= DUAS ================= */
.duas {
  padding: 100px 8%;
  text-align: center;
}

.section-subtitle {
  color: #f7c948;
  letter-spacing: 3px;
}

.section-title {
  font-size: 36px;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.arabic-text {
  font-size: 22px;
  margin: 20px 0;
}

/* ================= FOOTER ================= */
footer {
  background: #060d25;
  text-align: center;
  padding: 30px;
  color: #f7c948;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {

  nav {
    position: absolute;
    top: 50px;
    right: 0;
    left:10px;
    background: #0d1633;
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 20px;
  }

  nav a {
    margin: 15px 0;
    padding-left: 20px;
  }

  nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .time-box {
    flex-direction: column;
    gap: 20px;
  }

  .arabic {
    font-size: 40px;
  }

  .english {
    font-size: 24px;
  }
}




@media (max-width: 768px) {

  header {
    flex-wrap: wrap;
  }

  nav {
    width: 100%;
    flex-direction: column;
    display: none;
    margin-top: 15px;
    background: #0d1633;
    padding: 15px 0;
  }

  nav a {
    margin: 10px 0;
  }

  nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
} 